
body {
  text-align: center;
}

#section1 {
  background-image: url("../images/building.png");
}


#section1 h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}


#section1 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  line-height: 200%;
}


.section23 h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}


.section23 h5 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}


.section23 p {
  font-family: Helvetica;
  font-size: 14px;
}


#newyork {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/building.png");
}

#footer {
  background-color: dimgray;
}

#footer h6 {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  display: inline;
}

#footer ul li {
  display: inline;
  font-family: Helvetica;
  color: white;
}

a {
  color: white;
}
